<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
	</head>
	<body>
		<form
			action="/usuarios"
			method="POST"
		>
			<h1>Registro</h1>
			<input
				type="text"
				name="nome"
			/>
			<input
				type="password"
				name="senha"
			/>
			<button type="submit">Enviar</button>
		</form>

		<form
			action="/login"
			method="POST"
		>
			<h1>Login</h1>
			<input
				type="text"
				name="nome"
			/>
			<input
				type="password"
				name="senha"
			/>
			<button type="submit">Logar</button>
		</form>
	</body>
</html>
